* {
    margin: 0;
    padding: 0;
    background: #8CC461;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
}

main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    margin: auto;
    width: 90%;
    margin-top: 60px;
}

img {
    background: none;

}

#stars {
    position: absolute;
    top: 10%;
    height: 225px;
}

#award {
    position: absolute;
    top: 23%;
    left: 32%;
    height: 164px;
    width: 156px;
}

#hurray {
    color: white;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 40px;
    margin: 20px 0 0 20px;
}

#won {
    color: white;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 20px;
    margin-left: 15px;
}

#play-again {
    height: 5%;
    color: #6B6B6B;
    font-size: 0.8em;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    background: white;
    width: 40%;
    margin: 20px 0 0 20px;
}

button:hover {
    cursor: pointer;
    scale: 1.05;
}

#rules-button {
    background: none;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05px;
    border-radius: 10px;
    position: absolute;
    bottom: 28px;
    right: 20px;
    height: 35px;
    width: 100px;
    cursor: pointer;
}

#game-rules {
    color: white;
    border: 5px solid white;
    background: #004429;
    border-radius: 10px;
    position: absolute;
    bottom: 11%;
    right: 4%;
    height: 39%;
    font-size: 80%;
    width: 75%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#game-rules #close-rules {
    border: 4px solid white;
    border-radius: 50%;
    width: 17%;
    height: 15%;
    position: absolute;
    top: -6%;
    right: -6%;
    background: #FF0000;
    cursor: pointer;
}

#close-rules img {
    height: 58%;
    width: 47%;
}

#game-rules h3 {
    font-size: 1.5rem;
    font-weight: 400;
    background: #004429;
    margin: 4% 0% 2% 0%;
}

#game-rules ul,
#game-rules li {
    background: #004429;
}

#game-rules ul {
    width: 80%;
    height: 80%;
    list-style-type: square;
}

#game-rules li {
    color: yellow;
    margin: 3%;
}

#game-rules span {
    color: white;
    background: #004429;
}

button:hover,
#close-rules:hover {
    scale: 1.05;
}