* {
    margin: 0px;
    padding: 0px;
    background: #8CC461;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* -----------Top Score-board Section---------- */
#score-board {
    border: 3px solid white;
    border-radius: 10px;
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

#label {
    height: 100%;
    width: 40%;
    border: 1px solid black;
}

#label ul {
    list-style: none;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #FFFFFF;
}

#score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 100%;
    border: 1px solid black;
}

#score #computer-score,
#your-score {
    height: 90%;
    width: 45%;
    background: white;
    border-radius: 10px;
}

/* result-box */
#result-box {
    border: 1px solid blue;
    width: 50%;
    height: 50%;
    display: flex;

    justify-content: space-evenly;
    align-items: center;
}

#your-pick,
#pc-pick {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 16px solid;
    border-radius: 50%;
    background: white;
    height: 75%;
    width: 25%;
}

img {
    background: none;
}