* {
    margin: 0px;
    padding: 0px;
    background: #8CC461;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* -----------Top Score-board Section---------- */
#score-board {
    border: 3px solid white;
    border-radius: 10px;
    width: 50%;
    height: 21%;
    display: flex;
    justify-content: space-between;
}

#label {
    height: 100%;
    width: 40%;
    border-radius: 10px;
    /* border: 1px solid black; */
}

#label ul {
    list-style: none;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #FFFFFF;
    /* border: 3px solid white; */
    border-radius: 10px;
    margin: 4px 0px 0px 10px;
}

#score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    border-radius: 10px;
}

#score #computer-score,
#your-score {
    height: 86%;
    width: 45%;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
}

#computer-score p,
#your-score p,
#computer-score div,
#your-score div {
    background: white;
}

#computer-score p,
#your-score p {
    color: #656565;
    font-weight: 500;
}

#computer-score p:nth-child(1),
#your-score p:nth-child(1) {
    margin-top: 12px;
}

#computer-score div,
#your-score div {
    font-size: 55px;
    font-weight: 900;
    margin-top: 3px;
}

/* result-box */
#result-box {
    /* border: 1px solid blue; */
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}

#your-pick::before {
    content: "YOU PICKED";
    position: absolute;
    bottom: 199px;
    left: 32px;
    color: white;
}

#pc-pick::before {
    content: "PC PICKED";
    position: absolute;
    bottom: 199px;
    right: 32px;
    color: white;
}

#your-pick,
#pc-pick {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 16px solid;
    border-radius: 50%;
    background: white;
    height: 43%;
    width: 29%;
    margin: 0% 4%;
    z-index: 1;
    position: relative;
}

img {
    background: none;
}

#result-Text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 50%;
    padding: 9% 0% 0% 1%;
}

#result-Text p {
    color: white;
    font-family: Roboto;
    font-size: 2.4em;
    font-weight: 900;
    line-height: 0px;
    letter-spacing: 0.03em;
    text-align: center;
}

#result-Text p:nth-child(2) {
    font-size: 1.4em;
    font-weight: 900;
    line-height: 0px;
    letter-spacing: 0.1em;
    display: flex;
}

#result-Text button {
    width: 45%;
    height: 18%;
    color: #6B6B6B;
    font-size: 0.8em;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    background: white;
}

button:hover {
    cursor: pointer;
    scale: 1.02;
}

.circle-left {
    display: none;
    background-color: #375720;
    height: 51%;
    width: 23%;
    border-radius: 50%;
    position: absolute;
    top: 24.4%;
    left: 4.4%;
    animation: pulseOut 2s infinite cubic-bezier(0.36, 0.11, .89, .32);
}

.circle-right {
    display: flex;
    background-color: #375720;
    height: 51%;
    width: 23%;
    border-radius: 50%;
    position: absolute;
    top: 24.4%;
    right: 4.4%;
    animation: pulseOut 2s infinite cubic-bezier(0.36, 0.11, .89, .32);
}

@keyframes pulseOut {
    from {
        transform: scale(0.5, 0.5);
        opacity: 0.5;
    }

    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
}

/* -------RULES-------- */
#rulesAndNextButton {
    height: 74px;
    width: 255px;
    position: absolute;
    bottom: 15px;
    right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#rules-button {
    background: none;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05px;
    border-radius: 10px;
    margin-right: 19px;
    height: 35px;
    width: 100px;
    cursor: pointer;
}

#game-rules {
    color: white;
    border: 5px solid white;
    background: #004429;
    border-radius: 10px;
    position: absolute;
    bottom: 11%;
    right: 4%;
    height: 49%;
    width: 22%;
    z-index: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* button */
#game-rules #close-rules {
    border: 4px solid white;
    border-radius: 50%;
    width: 17%;
    height: 15%;
    position: absolute;
    top: -6%;
    right: -6%;
    background: #FF0000;
    cursor: pointer;
}

#game-rules h3 {
    font-size: 2rem;
    font-weight: 400;
    background: #004429;
    margin: 4% 0% 2% 0%;
}

#game-rules ul,
#game-rules li {
    background: #004429;

}

#game-rules ul {
    width: 90%;
    height: 90%;
    list-style-type: square;
}

#game-rules li {
    color: yellow;
    margin: 3%;
}

#game-rules span {
    color: white;
    background: #004429;
}

#rules-button:hover,
#close-rules:hover {
    scale: 1.02;
}

/* ------------next button------------ */
#next-button {
    background: none;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05px;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    cursor: pointer;
    display: none;
}